<!-- your html code here -->
<h1>Contact</h1>
<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 bg-light rounded" >
        <div class="row">
            <div class="col-2">
                <br>
                <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                <br>
                <br>
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
            </div>
            <div class="col-10">
                <br>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email" >
                <br>
                <textarea placeholder="Please enter your message here..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <br>
            </div>   
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col text-end">
                <button type="button" class="btn btn-primary">Submit</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>