<!-- your html code here -->
<div class="container">
    <h1>Contact</h1>
    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 bg-light rounded" >
            <div class="row p-2 mt-2">
                <div class="col-2">
                    <label for="exampleFormControlInput1" class="form-label"><b>Your E-mail</b></label>
                </div>
                <div class="col-10">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email" >
                </div>   
            </div>
            <div class="row p-2">
                <div class="col-2">
                    <label for="exampleFormControlTextarea1" class="form-label"><b>Your message</b></label>
                </div>
                <div class="col-10">
                    <textarea placeholder="Please enter your message here..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col text-end p-2">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>